<div class = 'col-md-8 offset-2'>

  <h1 class = "text-center">Edit Task</h1>
  <%= simple_form_for @post, url: posts_path do |f| %>
    <%= f.input :title %>
    <%= f.input :content, :label =>""%>
    <%= f.range_field :hard, :in => 1..10, :step => 1,:id=>"slider1"%>
    <text>Difficult</text>
    <text id="difficultText">6</text>
    <%= f.input :tag_ids, as: :select , collection: Tag.order(:name), label_method: :name, input_html: {multiple: true}%>
    <%= f.input :answer1 %>
    <%= f.input :answer2 %>
    <a class="task_btn" href="../posts">all tasks</a>
    <%= f.submit "Edit", class: 'btn btn-lg btn-primary float-right' %>
  <% end %>

</div>
<script>
    $(document).on('turbolinks:load', function () {
        $('#post_tag_ids').select2({
            tags: true,
            tokenSeparators: [',', ' ']
        })
    });

    const input = document.querySelector( 'input' );
    input.addEventListener( 'input', event => {

        slider1.style.setProperty( '--color', `rgba(${input.value},0,0,1)`);
    })
    $("#slider1").change(function () {
        var newValue = $('#slider1').val();
        $("#difficultText").html(newValue);
    });

</script>