<div class = 'col-md-8 offset-2'>
  <h1 class = "text-center">New Task</h1>
  <%= simple_form_for @post, url: post_path do |f| %>
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.range_field :hard, :in => 1..10, :step => 1 %>
    <%= f.input :tag_ids, as: :select , collection: Tag.order(:name), label_method: :name, input_html: {multiple: true}%>
    <%= f.submit "Create", class: 'btn btn-lg btn-primary float-right' %>
  <% end %>
</div>
<script>
    $(document).on('turbolinks:load', function () {
        $('#post_tag_ids').select2({
            tags: true,
            tokenSeparators: [',', ' ']
        })
    });

</script>