<div class = 'col-md-8 offset-2'>

  <h1 class = "text-center"><%=t 'posts.new.newTask'%></h1>
  <%= simple_form_for @post, url: posts_url do |f| %>
    <%= f.input :title ,label: t('posts.new.title')%>
    <%= f.input :content, label: t('posts.new.content')%>
    <div class="field">

      <%= f.file_field :files, multiple: true %>
    </div>
    <%= f.range_field :hard, :in => 1..10, :step => 1,:id=>"slider1"%>
    <text><%=t 'posts.new.difficult' %></text>
    <text id="difficultText">6</text>
    <%= f.input :tag_ids, as: :select , collection: Tag.order(:name), label_method: :name, input_html: {multiple: true},label:t('posts.new.tagIds')%>
    <%= f.input :answer1,label:t('posts.new.answer1') %>
    <%= f.input :answer2,label:t('posts.new.answer2')  %>
    <a class="task_btn" href="../posts"><%=t('posts.new.allTasks')%></a>
    <%= f.submit t('posts.new.create'), class: 'btn btn-lg btn-primary float-right' %>
  <% end %>

</div>


<script>
    $(document).on('turbolinks:load', function () {
        $('#post_tag_ids').select2({
            tags: true,
            tokenSeparators: [',', ' ']
        })
    });

    const input = document.querySelector( 'input' );
    input.addEventListener( 'input', event => {

        slider1.style.setProperty( '--color', `rgba(${input.value},0,0,1)`);
    })
    $("#slider1").change(function () {
        var newValue = $('#slider1').val();
        $("#difficultText").html(newValue);
    });

</script>